cloud_id                 = "b1gpveq0hgu2jtpdmnj8"
folder_id                = "b1ggs1k8rekvikjdrr58"
zone                     = "ru-central1-a"
image_id                 = "fd8vt1h0lousse76au7b"
public_key_path          = "/home/ubuntu/.ssh/ubuntu.pub"
subnet_id                = "e9bd34j84cr88oqgbiml"
service_account_key_file = "/root/key.json"
app_disk_image           = "fd8g0gm2gd1lgipkndsr"
db_disk_image            = "fd8nd1t11fivq4glvp72"
